{
  "LOCAL": {
    "DB_PORT": "YOUR_DB_PORT",
    "DB_CONN": "YOUR_DB_CONNECTION_STRING",
    "API_PORT": "YOUR_API_PORT",
    "JWT_SECRET":"YOUR_JWT_SECRET",
    "JWT_SECRET_REFRESH":"YOUR_JWT_SECRET_REFRESH",
    "JWT_EXPIRES_IN":"20m"
  },
  "DEVELOP": {
    "PORT": "Thanks",
    "ENV2": "For All"
  },
  "PROD": {
    "PORT": ""
  }
}